{% extends 'base.html' %}
{% block header_content %}
    {<div class="clearfix">
		<div class="wrap-header">
			<div class="row">
				<div class="col-full t-center">
					<div class="wrap-col">
						<div class="logo"><a href="#"><img src="/static/images/logo.png"></a></div>
						<div class="tagline">为 当 年 吹 过 的 牛 付 诸 行 动</div>
					</div>
				</div>
			</div>
		</div>
    </div>
{% endblock %}
{% block left_content %}
                         <div class="wrap-content">
							<article>
								<div class="art-header">
									<div class="entry-title">
										<a href="#">关于我</a>
									</div>
								</div>
								<img src="/static/images/1.jpg">
								<div class="art-content">
									<div class="excerpt"><p>我的名字叫Eugene，你可以叫我UG，这是我自己搭建的Blog，我会在这里持续发表三大方面的文章：个人观点与随想，技术学习与总结，理财心得与感悟。写作是一种输出，有助于帮助自己总结，也可以便于记录，又是分享的好途径，越发觉得写作的必要性，借此刚好搭建一个博客，今后也将把个人写作发布于此，最后欢迎你来到这里！</p></div>
					                <h2>个人观点与随想</h2>
									<p>在这个方面主要是分享主观的内容，包括不仅限于对于时事、琐碎事情的观点看法、一本书的读书笔记，也可以是一部电影一部美剧的观后感，亦或者是各种吐槽。</p>
                                    <h2>技术学习与总结</h2>
									<p>这里主要的是在技术这一方面的总结，记录“那些年”踩过的坑，更便于自己在某方面的成长。</p>
									<h2>理财心得与感悟</h2>
									<p>一直对金融（“qian”第二声）保持一定的兴趣，时常总结，才能成长。</p>
                                    <h2>其他</h2>
                                    <p>为什么选择通过Blog分享这些呢？</p>
                                    <p>在信息爆炸的时代，我想远离噪音（如微信朋友圈、QQ空间），同时我也不想给别人增加噪音，恰巧需要做个Blog，便选择通过这种比较“古老”的方式来写作。</p>
                                     <p>关于本站</p>
                                    <p>本站随着个人技术的成长将会可能改版，甚至重做，因为看完别人的blog我已经觉得自己的又丑用户体验又差。</p>
                                    <p>最后，我还在路上，我得为当年自己吹过的牛付诸行动。</p>
								</div>
							</article>
						</div>
{% endblock %}


